<h1> Here is the shopping cart</h1>
<form method = "post" action = "/checkout">


<label for="item_name">Item Name: </label><input id="item" type="text" name="item[name]"><br>

<input value="submit" type="submit">  
</form>
#<a href="/checkout">Session</a>
#session hash should be accessible from here